version: '3.8'

services:
  api:
    build:
      context: ../
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file: .env.prod
    volumes:
      - data:/app/data
    restart: unless-stopped
    depends_on:
      - redis
      
  redis:
    image: redis:7-alpine
    volumes:
      - redis:/data
    restart: unless-stopped

volumes:
  data:
  redis:
